@mixin window {
    .window {
        $window-padding: 20px;
        
        position: fixed;
        top: $standard-padding;
        left: 50%;
        background-color: #fff;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 20px 0px);
        @include border-radius($standard-border-radius);
        @include transition(transform 0.25s ease-out, opacity 0.25s ease-out, filter 0.25s linear);
        @include transform(scale(0.5, 0.5));
        opacity: 0;
        
        .close {
            $size: 12px;
            $offset: ($large-line-height + 2*$tight-standard-padding - $size) / 2;
            cursor: pointer;
            position: absolute;
            top: $offset;
            right: $offset;
            width: $size;
            height: $size;
            display: block;
    
            .svg-main {
                fill: $font-color;
            }
            
            &:hover {
                .svg-main {
                    fill: $blue;
                }
            }
        }
        
        .window-header {
            height: $large-line-height + 2*$tight-standard-padding + 1px;
            padding: $tight-standard-padding $window-padding;
            @include ellipsis;
            background-color: $background-gray;
            border-bottom: 1px solid $border-gray;
            @include border-top-radius($standard-border-radius);
        }
        
        .window-body {
            position: relative;
            overflow-y: auto;
            padding: $window-padding;
        }
        
        .window-footer {
            height: $large-line-height + 2*15px;
            padding: 15px $window-padding;
            background-color: $background-gray;
            border-top: 1px solid $border-gray;
            @include border-bottom-radius($standard-border-radius);
            text-align: center;
        }
        
        &.visible {
            @include transform(scale(1, 1));
            opacity: 1;
        }
        
        &.pulse {
            @include transition-property(-webkit-transform -moz-transform -ms-transform);
            @include transition-duration(0.25s);
            @include transition-duration(ease-out);
            @include transform(scale(1.03, 1.03));
        }
        
    }
    
    #ember-testing {
        .window {
            left: auto;
            right: 10px;
        }
    }
}